bitarray==2.9.2
bitstring==4.1.4
BTrees==6.0
matplotlib==3.7.2
memory_profiler==0.61.0
networkx==3.1
numpy==1.24.3
pandas==2.2.2
pynauty==2.8.6
ray==2.35.0
setuptools==68.0.0
transaction==4.0
ZODB==6.0
